<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144718166492-ptqflito9u26p08ukc961ua62noil9ed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144718166492-ptqflito9u26p08ukc961ua62noil9ed</string>
	<key>API_KEY</key>
	<string>AIzaSyCSONDCnI2aTz3OiBHhMpiTIZa0aMCGh9M</string>
	<key>GCM_SENDER_ID</key>
	<string>144718166492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterForWordpressApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-for-wordpress</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-for-wordpress.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144718166492:ios:f90943d81811fdcad13719</string>
</dict>
</plist>